@model ElGantte.Models.Telecertificaciones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Telecertificaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Integracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Integracion.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
