@model IEnumerable<ElGantte.Models.Integracione>

@{
    ViewData["Title"] = "Informe Servicio";
}

<h1 class="mb-4">Integradores Certificados Mes Actual</h1>

<div class="table">
    <table class="table table-bordered">

        <thead class="table table-dark">
            <tr>
                <th>Fecha registro</th>
                <th>Tipo</th>
                <th>Partners</th>
                <th>Status</th>
                <th>Observaciones</th>
                <th>Etapa</th>
                <th>Tipo de Terminal</th>
                <th>Solución</th>
                <th>Tipo Solución</th>
                <th>Nombre APK-Software</th>
                <th>Certificado</th>
                <th>Fecha estimada Certificación</th>
                <th>Días Integrando</th>
                <th>Fecha certificación/KO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(
                        i => i.Certificado == true
                        && i.FechaFin.HasValue
                        && i.FechaFin.Value.Month == DateTime.Now.Month))
            {
                // Estilo por tipo de partner/cliente
                var tipoClass = item.PartnerNavigation?.Tipo == true ? "table-primary" : "bg-light bg-gradient";


                // Estilo según el status
                string statusClass = item.StatusNavigation?.Nombre switch
                {
                    "Certificado" => "table-success",
                    "Integración" => "table-warning",
                    "Stand-by" => "table-danger",  // rojo claro
                    "KO" => "table-danger table-dark text-white", // rojo fuerte
                    _ => "table-light"
                };

                <tr class="@tipoClass">
                    <td>@item.FechaInicio?.ToString("dd/MM/yyyy")</td>
                    <td>@((item.PartnerNavigation?.Tipo).GetValueOrDefault() ? "Partner" : "Cliente")</td>
                    <td>
                        <a asp-controller="Partners" asp-action="Details" asp-route-id="@item.PartnerNavigation.Id">
                            @item.PartnerNavigation?.Nombre
                        </a>
                    </td>
                    <td class="@statusClass">
                        @item.StatusNavigation?.Nombre
                    </td>
                    <td>
                        @{
                            var ultimoComentario = item.Comentarios
                            .OrderBy(c => c.Fecha) //Ordena por fecha ascendente
                            .LastOrDefault();

                            if (ultimoComentario != null)
                            {
                                @($"({ultimoComentario.Fecha:dd/MM/yyyy}) {ultimoComentario.Comentario1}")
                            }
                        }
                    </td>
                    <td class="@statusClass">
                        @item.Historicoetapas.LastOrDefault()?.Etapa
                    </td>
                    <td>
                        <a asp-controller="Integraciones" asp-action="Details" asp-route-id="@item.Id">
                            @item.ModeloTerminalNavigation?.Modelo
                        </a>
                    </td>
                    <td>@item.SolucionNavigation?.Nombre</td>
                    <td>@item.SoftwareIntegrado</td>
                    <td>@item.NombreSwapp</td>
                    <td>
                        @if (item.Certificado == true)
                        {
                            <span class="badge bg-success">Sí</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">No</span>
                        }
                </td>
                <td>
                    @(item.FechaInicio.HasValue
                                        ? (item.FechaInicio.Value.AddDays(item.PartnerNavigation?.Tipo == true ? 21 : 90)).ToString("dd/MM/yyyy")
                                        : "Sin fecha")
                </td>
                <td>@($"{item.DiasIntegrando} días")</td>
                <td>@item.FechaFin?.ToString("dd/MM/yyyy")</td>
            </tr>
                        }
        </tbody>
    </table>
</div>




<h1>Integradores KO</h1>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Fecha registro</th>
            <th>Tipo</th>
            <th>Partners</th>
            <th>Status</th>
            <th>Observaciones</th>
            <th>Etapa</th>
            <th>Tipo de Terminal</th>
            <th>Solución</th>
            <th>Tipo Solución</th>
            <th>Nombre APK-Software</th>
            <th>Certificado</th>
            <th>Fecha estimada Certificación</th>
            <th>Días Integrando</th>
            <th>Fecha certificación/KO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(i => i.StatusNavigation!.Nombre == "KO"))
        {
            // Estilo por tipo de partner/cliente
            var tipoClass = item.PartnerNavigation?.Tipo == true ? "table-primary" : "bg-light bg-gradient";


            // Estilo según el status
            string statusClass = item.StatusNavigation?.Nombre switch
            {
                "Certificado" => "table-success",
                "Integración" => "table-warning",
                "Stand-by" => "table-danger",  // rojo claro
                "KO" => "bg-danger", // rojo fuerte
                _ => "table-light"
            };

            <tr class="@tipoClass">
                <td>@item.FechaInicio?.ToString("dd/MM/yyyy")</td>
                <td>@((item.PartnerNavigation?.Tipo).GetValueOrDefault() ? "Partner" : "Cliente")</td>
                <td>
                    <a asp-controller="Partners" asp-action="Details" asp-route-id="@item.PartnerNavigation.Id">
                        @item.PartnerNavigation?.Nombre
                    </a>
                </td>
                <td class="@statusClass">
                    @item.StatusNavigation?.Nombre
                </td>
                <td>
                    @{
                        var ultimoComentario = item.Comentarios
                        .OrderBy(c => c.Fecha) //Ordena por fecha ascendente
                        .LastOrDefault();

                        if (ultimoComentario != null)
                        {
                            @($"({ultimoComentario.Fecha:dd/MM/yyyy}) {ultimoComentario.Comentario1}")
                        }
                    }
                </td>
                <td class="@statusClass">
                    @item.Historicoetapas.LastOrDefault()?.Etapa
                </td>
                <td>
                    <a asp-controller="Integraciones" asp-action="Details" asp-route-id="@item.Id">
                        @item.ModeloTerminalNavigation?.Modelo
                    </a>
                </td>
                <td>@item.SolucionNavigation?.Nombre</td>
                <td>@item.SoftwareIntegrado</td>
                <td>@item.NombreSwapp</td>
                <td>
                    @if (item.Certificado == true)
                    {
                        <span class="badge bg-success">Sí</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">No</span>
                    }
            </td>
            <td>
                @(item.FechaInicio.HasValue
                                ? (item.FechaInicio.Value.AddDays(item.PartnerNavigation?.Tipo == true ? 21 : 90)).ToString("dd/MM/yyyy")
                                : "Sin fecha")
            </td>
            <td>@($"{item.DiasIntegrando} días")</td>
            <td>@item.FechaFin?.ToString("dd/MM/yyyy")</td>
        </tr>
                }
    </tbody>
</table>


<h1>Integradores en Curso</h1>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Fecha registro</th>
            <th>Tipo</th>
            <th>Partners</th>
            <th>Status</th>
            <th>Observaciones</th>
            <th>Etapa</th>
            <th>Tipo de Terminal</th>
            <th>Solución</th>
            <th>Tipo Solución</th>
            <th>Nombre APK-Software</th>
            <th>Certificado</th>
            <th>Fecha estimada Certificación</th>
            <th>Días Integrando</th>
            <th>Fecha certificación/KO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(i => i.StatusNavigation!.Nombre == "Integración"))
        {
            // Estilo por tipo de partner/cliente
            var tipoClass = item.PartnerNavigation?.Tipo == true ? "table-primary" : "bg-light bg-gradient";

            // Estilo según el status
            string statusClass = item.StatusNavigation?.Nombre switch
            {
                "Certificado" => "table-success",
                "Integración" => "table-warning",
                "Stand-by" => "table-danger",  // rojo claro
                "KO" => "table-danger table-dark text-white", // rojo fuerte
                _ => "table-light"
            };

            <tr class="@tipoClass">
                <td>@item.FechaInicio?.ToString("dd/MM/yyyy")</td>
                <td>@((item.PartnerNavigation?.Tipo).GetValueOrDefault() ? "Partner" : "Cliente")</td>
                <td>
                    <a asp-controller="Partners" asp-action="Details" asp-route-id="@item.PartnerNavigation.Id">
                        @item.PartnerNavigation?.Nombre
                    </a>
                </td>
                <td class="@statusClass">
                    @item.StatusNavigation?.Nombre
                </td>
                <td>
                    @{
                        var ultimoComentario = item.Comentarios
                        .OrderBy(c => c.Fecha) //Ordena por fecha ascendente
                        .LastOrDefault();

                        if (ultimoComentario != null)
                        {
                            @($"({ultimoComentario.Fecha:dd/MM/yyyy}) {ultimoComentario.Comentario1}")
                        }
                    }
                </td>
                <td class="@statusClass">
                    @item.Historicoetapas.LastOrDefault()?.Etapa
                </td>
                <td>
                    <a asp-controller="Integraciones" asp-action="Details" asp-route-id="@item.Id">
                        @item.ModeloTerminalNavigation?.Modelo
                    </a>
                </td>
                <td>@item.SolucionNavigation?.Nombre</td>
                <td>@item.SoftwareIntegrado</td>
                <td>@item.NombreSwapp</td>
                <td>
                    @if (item.Certificado == true)
                    {
                        <span class="badge bg-success">Sí</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">No</span>
                    }
            </td>
            <td>
                @(item.FechaInicio.HasValue
                                ? (item.FechaInicio.Value.AddDays(item.PartnerNavigation?.Tipo == true ? 21 : 90)).ToString("dd/MM/yyyy")
                                : "Sin fecha")
            </td>
            <td>@($"{item.DiasIntegrando} días")</td>
            <td>@item.FechaFin?.ToString("dd/MM/yyyy")</td>
        </tr>
                }
    </tbody>
</table>


<h1>Integradores en StandBy</h1>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Fecha registro</th>
            <th>Tipo</th>
            <th>Partners</th>
            <th>Status</th>
            <th>Observaciones</th>
            <th>Etapa</th>
            <th>Tipo de Terminal</th>
            <th>Solución</th>
            <th>Tipo Solución</th>
            <th>Nombre APK-Software</th>
            <th>Certificado</th>
            <th>Fecha estimada Certificación</th>
            <th>Días Integrando</th>
            <th>Fecha certificación/KO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(i => i.StandBy == true))
        {
            // Estilo por tipo de partner/cliente
            var tipoClass = item.PartnerNavigation?.Tipo == true ? "table-primary" : "bg-light bg-gradient";

            // Estilo según el status
            string statusClass = item.StatusNavigation?.Nombre switch
            {
                "Certificado" => "table-success",
                "Integración" => "table-warning",
                "Stand-by" => "table-danger",  // rojo claro
                "KO" => "bg-danger", // rojo fuerte
                _ => "table-light"
            };

            <tr class="@tipoClass">
                <td>@item.FechaInicio?.ToString("dd/MM/yyyy")</td>
                <td>@((item.PartnerNavigation?.Tipo).GetValueOrDefault() ? "Partner" : "Cliente")</td>
                <td>
                    <a asp-controller="Partners" asp-action="Details" asp-route-id="@item.PartnerNavigation.Id">
                        @item.PartnerNavigation?.Nombre
                    </a>
                </td>
                <td class="@statusClass">
                    @item.StatusNavigation?.Nombre
                </td>
                <td>
                    @{
                        var ultimoComentario = item.Comentarios
                        .OrderBy(c => c.Fecha) //Ordena por fecha ascendente
                        .LastOrDefault();

                        if (ultimoComentario != null)
                        {
                            @($"({ultimoComentario.Fecha:dd/MM/yyyy}) {ultimoComentario.Comentario1}")
                        }
                    }
                </td>
                <td class="@statusClass">
                    @item.Historicoetapas.LastOrDefault()?.Etapa
                </td>
                <td>
                    <a asp-controller="Integraciones" asp-action="Details" asp-route-id="@item.Id">
                        @item.ModeloTerminalNavigation?.Modelo
                    </a>
                </td>
                <td>@item.SolucionNavigation?.Nombre</td>
                <td>@item.SoftwareIntegrado</td>
                <td>@item.NombreSwapp</td>
                <td>
                    @if (item.Certificado == true)
                    {
                        <span class="badge bg-success">Sí</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">No</span>
                    }
            </td>
            <td>
                @(item.FechaInicio.HasValue
                                ? (item.FechaInicio.Value.AddDays(item.PartnerNavigation?.Tipo == true ? 21 : 90)).ToString("dd/MM/yyyy")
                                : "Sin fecha")
            </td>
            <td>@($"{item.DiasIntegrando} días")</td>
            <td>@item.FechaFin?.ToString("dd/MM/yyyy")</td>
        </tr>
                }
    </tbody>
</table>
