@model ElGantte.Models.Integracione

@{
    ViewData["Title"] = "Details";
}

<h1>Integración @Html.DisplayFor(model => model.PartnerNavigation.Nombre) @Html.DisplayFor(model => model.ModeloTerminalNavigation.Modelo)</h1>

<div class="card p-3 mb-3 w-50 mx-auto" style="overflow-x: auto;">
    <div class="card-header fw-bold">Vista General</div>
    <div class="d-flex flex-wrap gap-3">
        <div><strong>@Html.DisplayNameFor(m => m.ModeloTerminal):</strong> @Html.DisplayFor(m => m.ModeloTerminalNavigation.Modelo)</div>
        <div><strong>@Html.DisplayNameFor(m => m.SoftwareIntegrado):</strong> @Html.DisplayFor(m => m.SoftwareIntegrado)</div>
        <div><strong>@Html.DisplayNameFor(m => m.NombreSwapp):</strong> @Html.DisplayFor(m => m.NombreSwapp)</div>
        <div>
            <strong>@Html.DisplayNameFor(m => m.Certificado):</strong> @(Model.Certificado.Value ? "Sí" : "No")
        </div>
    </div>
    <div class="d-flex flex-wrap gap-3 mt-2">
        <div><strong>@Html.DisplayNameFor(m => m.FechaInicio):</strong> @Html.DisplayFor(m => m.FechaInicio)</div>
        <div><strong>@Html.DisplayNameFor(m => m.FechaFin):</strong> @Html.DisplayFor(m => m.FechaFin)</div>
        <div><strong>@Html.DisplayNameFor(m => m.DiasIntegrando):</strong> @Html.DisplayFor(m => m.DiasIntegrando)</div>
        <div><strong>@Html.DisplayNameFor(m => m.DiasStandBy):</strong> @Html.DisplayFor(m => m.DiasStandBy)</div>
    </div>
    <div class="d-flex flex-wrap gap-3 mt-2">
        <div>
            <strong>@Html.DisplayNameFor(m => m.StandBy):</strong> @(Model.StandBy.Value ? "Sí" : "No")
        </div>
        <div><strong>@Html.DisplayNameFor(m => m.CasoSf):</strong> @Html.DisplayFor(m => m.CasoSf)</div>
        <div><strong>@Html.DisplayNameFor(m => m.PartnerNavigation):</strong> @Html.DisplayFor(m => m.PartnerNavigation.Id)</div>
        <div><strong>@Html.DisplayNameFor(m => m.SolucionNavigation):</strong> @Html.DisplayFor(m => m.SolucionNavigation.Id)</div>
        <div><strong>@Html.DisplayNameFor(m => m.StatusNavigation):</strong> @Html.DisplayFor(m => m.StatusNavigation.Id)</div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-secondary">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-primary">Volver al inicio</a>
</div>
