@model ElGantte.Models.Integracione

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Integracione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeloTerminal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeloTerminal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoftwareIntegrado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoftwareIntegrado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreSwapp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreSwapp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasIntegrando)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasIntegrando)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasStandBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasStandBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasoSf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasoSf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartaCesionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartaCesionNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolucionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolucionNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
